.GamblingLinks_root_G9FFT {
    align-items: center;
    display: flex;
    justify-content: center
}

.GamblingLinks_link_GCbOL:not(:first-child) {
    margin-left: 25px
}

.GamblingLinks_image_TijSO {
    display: block;
    height: 30px;
    max-width: 120px
}

.OwnerBlock_root_s3Eai {
    background: #1C263C;
    background-image: url(https://v1.bundlecdn.com/img/angel.6fd44e46b-487.png);
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 243px auto;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: space-between;
    min-height: 148px;
    padding: 16px;
    width: 307px
}

.OwnerBlock_mobile_QOrdn {
    width: 100%
}

.OwnerBlock_title_N9nQ6 {
    color: #f0f2f5;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 20px;
    margin-bottom: 4px;
    width: 55%
}

.OwnerBlock_subtitle_RuoAJ {
    color: #9aa1b1;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: .01px;
    line-height: 16px;
    width: 55%
}

.OwnerBlock_buttons_mT91e {
    display: flex;
    gap: 4px
}

.OwnerBlock_icon_HaXYw {
    align-items: center;
    background: rgba(255, 255, 255, .2);
    border-radius: 10px;
    display: flex;
    height: 36px;
    justify-content: center;
    width: 36px
}

.SportsPromotionSection_root_R105a {
    display: flex;
    align-items: center;
    justify-content: space-around
}

.SocialItemWrapper_telegram_wnt9T {
    background: linear-gradient(240.2deg, #0fb1d6 0%, #08c 61.34%);
    box-shadow: 0 5px 16px #4ca2f64d
}

.SocialItemWrapper_vkontakte_CBfTs {
    background: linear-gradient(108.65deg, #91b8ef 2.63%, #4288ed 101.05%), linear-gradient(135deg, #ff4f4f 0%, #f00 100%);
    box-shadow: 0 5px 16px #4cb9f64d
}

.SocialItemWrapper_instagram_stOzm {
    background: linear-gradient(214.99deg, #7e2bf4 7.65%, #ed146e 51.93%, #ffc90c 95.29%);
    box-shadow: 0 5px 16px #ba4d654d
}

.SocialItemWrapper_facebook_Q5Xgq {
    background: linear-gradient(135deg, #82a4e9 0%, #4267b2 100%);
    box-shadow: 0 5px 16px #7396dc4d
}

.SocialItemWrapper_twitter_BG81o {
    background: #fff;
    box-shadow: 0 5px 16px #b9b9b94d
}

.SocialItemWrapper_twitter_BG81o.SocialItemWrapper_twitter_BG81o {
    color: #0f1419
}

.SocialItemWrapper_twitter_BG81o.SocialItemWrapper_twitter_BG81o path {
    fill: #0f1419
}

.SocialItemWrapper_youtube_FcIAy {
    background: linear-gradient(135deg, #ff4f4f 0%, #f00 100%);
    box-shadow: 0 5px 16px #f64c4c4d
}

.SocialItemWrapper_twitch_Atm4e {
    background: #772ce8
}

.SocialItemWrapper_discord_Hj75e {
    background: #5865f2
}

.SocialItemWrapper_whatsapp_YV4oz {
    background: linear-gradient(180deg, #61fd7d, #25cf43)
}

.SocialItemWrapper_tiktok_cMLx0,
.SocialItemWrapper_threads_rVg1X {
    background: #fff;
    color: #090f1e !important
}

.SocialList_root_I2PxQ {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.SocialList_list_KoppQ {
    display: flex
}

.SocialList_item_Sxv6_ {
    border-radius: 10px;
    overflow: hidden;
    transition: transform .3s ease-out
}

.SocialList_item_Sxv6_:not(:first-child) {
    margin-left: 10px
}

.SocialList_item_Sxv6_:hover {
    transform: scale(1.1)
}

.SocialList_item_Sxv6_:active {
    transform: scale(.9)
}

.SocialList_link_o9lLv {
    align-items: center;
    display: flex;
    height: 35px;
    justify-content: center;
    text-align: center;
    width: 35px;
    font-size: 15px
}

.FooterDesktopApps_container_uDP3I {
    width: 94px;
    height: 94px;
    border: 1px solid rgba(255, 255, 255, .15);
    border-radius: 12px;
    transition: border .25s ease-out;
    cursor: pointer;
    padding: 10px;
    display: flex;
    flex-direction: column
}

.FooterDesktopApps_container_uDP3I:hover {
    border: 1px solid rgba(255, 255, 255, .3)
}

.FooterDesktopApps_container_uDP3I:hover .FooterDesktopApps_iconChevron_pqKhR {
    opacity: 1
}

.FooterDesktopApps_sectionTop_V_lYl {
    display: flex;
    align-items: center
}

.FooterDesktopApps_text_a6XB2 {
    margin-top: auto
}

.FooterDesktopApps_title_Xi5o5 {
    font-size: 8px;
    line-height: 10px;
    color: #ffffff80
}

.FooterDesktopApps_subtitle_BG97M {
    color: #fff;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px
}

.FooterDesktopApps_iconChevron_pqKhR {
    opacity: .3;
    margin: 0 5px 0 auto;
    transition: opacity .25s ease-out
}

.FooterMobileApps_container_cOabW {
    width: 203px;
    height: 42px;
    display: flex;
    border: 1px solid rgba(255, 255, 255, .15);
    border-radius: 12px;
    align-items: center;
    padding: 0 15px;
    transition: border .25s ease-out;
    cursor: pointer
}

.FooterMobileApps_container_cOabW:hover {
    border: 1px solid rgba(255, 255, 255, .3)
}

.FooterMobileApps_container_cOabW:hover .FooterMobileApps_question_s35NH {
    opacity: 1
}

.FooterMobileApps_icon_IQ5EC {
    width: 27px
}

.FooterMobileApps_text_s_4vN {
    margin-left: 8px
}

.FooterMobileApps_title_TNcHs {
    font-size: 8px;
    line-height: 10px;
    color: #ffffff80
}

.FooterMobileApps_subtitle_zUaR4 {
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    margin-top: 1px
}

.FooterMobileApps_question_s35NH {
    margin-left: auto;
    opacity: .45;
    transition: opacity .25s ease-out
}

.ApplicationSection_container_dSdRG {
    display: flex
}

.ApplicationSection_sectionMobile_zSdAB {
    margin-right: 10px
}

.ApplicationSection_android_ZfXH3 {
    margin-top: 10px
}

.ChangeLanguageSection_container_mFUw2 {
    display: flex;
    justify-content: flex-end;
    margin-left: auto
}

.ChangeLanguageSection_button_w2jBF {
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center
}

.ChangeLanguageSection_spacer_Zshee {
    display: inline-block;
    margin: 0 5px
}

.SupportButton_button_Bqph9 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 6px;
    background-image: linear-gradient(144deg, #0095ff -27%, #0855c4 151%, #0855c4 151%);
    font-size: 13px;
    padding: 0;
    min-width: 24px;
    min-height: 24px
}

.ContactSection_container_OKaZH {
    display: flex;
    flex-direction: column;
    height: 100%
}

.ContactSection_title_zydGT {
    font-weight: 600;
    font-size: 12px;
    line-height: 14px
}

.ContactSection_subtitle_y_StB {
    font-size: 10px;
    line-height: 14px;
    letter-spacing: .2px;
    font-weight: 400;
    color: #8692aca6;
    margin-top: 8px
}

.ContactSection_phone_se8li {
    display: flex;
    align-items: center;
    margin-top: 28px
}

.ContactSection_link_s9SPT {
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    color: #ffffffe6;
    margin-left: 10px;
    white-space: nowrap
}

.GCB_root_wnCKF {
    flex-shrink: 0;
    margin-right: 24px
}

.GCB_mobile_PVpY5 {
    margin-right: 12px
}

.GCB_img_jvTx2 {
    display: block;
    height: 85px
}

.GCB_mobile_PVpY5 .GCB_img_jvTx2 {
    height: 48px
}

.Listings_mobile_cTBld {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -2px
}

.Listings_mobile_cTBld>* {
    margin: 1px 4px
}

.Listings_desktop_gMy4l {
    flex-wrap: nowrap
}

.Listings_desktop_gMy4l .Listings_ageLimit_tzYRt {
    font-size: 16px
}

.Listings_desktop_gMy4l>*:not(:last-child) {
    align-items: center;
    display: flex
}

.Listings_desktop_gMy4l>*:not(:last-child):after {
    content: "";
    display: block;
    height: 25px;
    width: 1px;
    background: rgba(151, 174, 225, .11);
    margin: 0 2px 0 10px
}

.Listings_ageLimit_tzYRt {
    color: #77829b66;
    font-size: 14px;
    font-weight: 800;
    line-height: 16px;
    order: 4
}

.Listings_apg_mlfS9 {
    width: 39px;
    height: 39px;
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    order: 3
}

.Listings_apg_mlfS9 div,
.Listings_apg_mlfS9 img {
    min-height: 39px !important;
    min-width: 39px !important;
    width: 39px !important;
    height: 39px !important
}

.ResponsibleGaming_link_PYIGN {
    -webkit-text-decoration: underline;
    text-decoration: underline
}

.LicenseSection_container_IVo_M {
    align-items: center;
    display: flex
}

.LicenseSection_copyright_cjsdT {
    flex: auto;
    font-size: 10px;
    font-weight: 400;
    line-height: 14px
}

.LicenseSection_copyright_cjsdT b {
    font-weight: 600
}

.LicenseSection_copyright_cjsdT+.LicenseSection_copyright_cjsdT {
    margin-left: 30px
}

.LicenseSection_text_f0HSo {
    color: #8391af
}

.LicenseSection_licenseText_OfC81 a {
    -webkit-text-decoration: underline;
    text-decoration: underline
}

.LicenseSection_leftSection_L0Ru4 {
    align-items: center;
    display: flex;
    flex: none;
    height: -moz-min-content;
    height: min-content;
    margin-left: 70px
}

.LicenseSection_responsibleGaming_nknp9 {
    margin-bottom: 1em
}

.FooterCategoriesBlock_title_n2hY4 {
    color: #5a647a;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: .4px;
    line-height: 14px;
    margin-bottom: 40px;
    text-transform: uppercase
}

.FooterCategoriesBlock_link_LmqSQ {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px
}

.FooterCategoriesBlock_listCategories_yIdHt {
    display: flex
}

.FooterCategoriesBlock_listCategoriesColumn_ZMflY {
    display: flex;
    flex-direction: column
}

.FooterCategoriesBlock_listCategoriesColumn_ZMflY:not(:first-child) {
    margin-left: 20px
}

.FooterCategoriesBlock_linksRow_SUA4H:not(:last-child) {
    margin-bottom: 10px
}

.FooterContactsBlock_title_Q1AsD {
    color: #5a647a;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: .4px;
    line-height: 14px;
    margin-bottom: 40px;
    text-transform: uppercase
}

.FooterContactsBlock_link_oj8uL {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px
}

.FooterContactsBlock_contacts_sbGF2 {
    display: table-row-group
}

.FooterContactsBlock_contactsCell_lrXlb {
    display: table-cell
}

.FooterContactsBlock_contactsRow_uLtPS {
    display: table-row
}

.FooterContactsBlock_contactsRow_uLtPS:not(:last-child) .FooterContactsBlock_contactsCell_lrXlb {
    padding-bottom: 10px
}

.FooterContactsBlock_contactsCellName_sAAdY {
    color: #8692ac;
    opacity: .65;
    padding-right: 20px
}

.FooterInformationBlock_title_YMH0a {
    color: #5a647a;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: .4px;
    line-height: 14px;
    margin-bottom: 40px;
    text-transform: uppercase
}

.FooterInformationBlock_link_xE5v9 {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px
}

.FooterInformationBlock_linksRow_E8xgZ:not(:last-child) {
    margin-bottom: 10px
}

.FooterLegalInformationBlock_title_V_F6W {
    color: #5a647a;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: .4px;
    line-height: 14px;
    margin-bottom: 40px;
    text-transform: uppercase
}

.FooterLegalInformationBlock_link_utGEn {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px
}

.FooterLegalInformationBlock_linksRow_DFnb6:not(:last-child) {
    margin-bottom: 10px
}

.NavigationSection_root_l0Hat {
    display: flex
}

.NavigationSection_root_l0Hat .NavigationSection_block_dHibI {
    flex-grow: .2;
    margin-right: 35px
}

.NavigationSection_root_l0Hat .NavigationSection_block_dHibI:last-child:not(.NavigationSection_lastOrder_mi9Kk) {
    margin-right: 0
}

.NavigationSection_root_l0Hat .NavigationSection_block_dHibI.NavigationSection_lastOrder_mi9Kk {
    margin-left: 35px;
    margin-right: 0;
    order: 1
}

.NavigationSectionLS_root_VOHJk {
    display: flex
}

.NavigationSectionLS_block_DIxYu {
    flex-grow: .2
}

.NavigationSectionLS_block_DIxYu:not(:last-child) {
    margin-right: 35px
}

.NavigationSectionLS_title_Rbp3m {
    font-weight: 600;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: .4px;
    text-transform: uppercase;
    color: #5a647a;
    margin-bottom: 40px
}

.NavigationSectionLS_link_eUGpg {
    font-size: 13px;
    line-height: 16px
}

.NavigationSectionLS_emailsBlock_xhtSm {
    margin-left: 20px
}

.NavigationSectionLS_listCategories_C_1u8 {
    display: flex
}

.NavigationSectionLS_listCategoriesColumn_yRAKy {
    display: flex;
    flex-direction: column
}

.NavigationSectionLS_listCategoriesColumn_yRAKy:not(:first-child) {
    margin-left: 20px
}

.NavigationSectionLS_linksRow_GJirE:not(:last-child) {
    margin-bottom: 10px
}

.NavigationSectionLS_contacts_lhEgA {
    display: table-row-group
}

.NavigationSectionLS_contactsRow_af8uG {
    display: table-row
}

.NavigationSectionLS_contactsRow_af8uG:not(:last-child) .NavigationSectionLS_contactsCell_W82QP {
    padding-bottom: 10px
}

.NavigationSectionLS_contactsCell_W82QP {
    display: table-cell
}

.NavigationSectionLS_contactsCellName_dPrvS {
    padding-right: 20px;
    color: #8692aca6
}

.PaymentSection_container_C_cBn {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.PaymentSection_container_C_cBn.PaymentSection_isCentered_qtJY4 {
    justify-content: center;
    gap: 0 80px
}

.PaymentSection_icon_LlyCK {
    cursor: pointer
}

.PaymentSection_icon_LlyCK [class$=color] {
    opacity: 0;
    transition: opacity .2s ease
}

.PaymentSection_icon_LlyCK [class$=mono] {
    opacity: 1;
    transition: opacity .2s ease
}

.PaymentSection_icon_LlyCK:hover [class$=color] {
    opacity: 1
}

.PaymentSection_icon_LlyCK:hover [class$=mono] {
    opacity: 0
}

.Footer_footer_udF4C {
    padding: 30px;
    min-width: 100%
}

.Footer_leaderboardTheme_cPZ47 {
    background-color: #01061a
}

.Footer_separator_MqAqa {
    background-color: #fff3;
    width: 100%;
    height: 1px;
    margin: 23px 0
}

.Footer_logoSeparator_HMHDL {
    flex: 1;
    margin-left: 20px;
    margin-right: 18px;
    height: 1px;
    background: linear-gradient(90deg, rgba(255, 255, 255, .2) 9.92%, rgba(0, 0, 0, 0) 100%)
}

.Footer_middleSeparator_vSDOp {
    background: linear-gradient(90deg, rgba(255, 255, 255, .2) 29.12%, rgba(255, 255, 255, 0) 100%);
    width: 82%;
    height: 1px;
    margin: 40px 0 23px
}

.Footer_logoContainer_ly0AN {
    margin-bottom: 48px;
    display: flex;
    align-items: center
}

.Footer_logoWrapper_hMoH_ {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 19px
}

.Footer_logo_DK4Zn {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 48px;
    cursor: auto !important
}

.Footer_sportsPromotion_u0qdl {
    width: 100%;
    margin: 0 124px
}

@media screen and (max-width:1350px) {
    .Footer_sportsPromotion_u0qdl {
        margin: 0 84px
    }
}

.Footer_leftSection_B2hYF {
    display: flex;
    flex-grow: 1
}

.Footer_contactSection_x51m9 {
    max-width: 150px;
    flex-grow: 1
}

.Footer_navigationSection_al8q8 {
    width: 100%;
    max-width: 830px;
    margin-left: 35px
}

.Footer_navigationSectionLarge_lnxq2 {
    max-width: 998px
}

.Footer_rightSection_Qb0m2 {
    margin: auto 0 auto 30px;
    display: flex;
    flex-direction: column;
    gap: 15px
}

.Footer_navSection_AHVMG {
    display: flex
}

.Footer_promotionSection_yHP4L {
    display: flex;
    justify-content: space-between
}

.Footer_gamblingLinks_TPyo2 {
    margin: 0 30px 0 auto
}